*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
}
.banner{
    position: relative;
    background-image: url(./images/designer.png);
    background-size: cover;
    background-position: right;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 3em;
    color: black;
    line-height: 1.5em;
    font-weight: 500;

}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 2em;
    color: black;
    font-weight: 500;
}
.btn{
    position: relative;
    background-color: #2196f3;
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.text{
    position: absolute;
    top: 220px;
    right: 16px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.sticky{
    background-color: #111;
    padding:20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
 .logo{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header .sticky .logo{
    color:#1111;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
header .sticky ul li a{
    color: black;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h1{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentbox{
padding-left: 5%;
padding-top: 2%;
}
.contentbox h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%;
}
.skills{
    background-color:#111;
}
 .white{
    color:#fff;
}
.skills .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.skillbox{
    padding: 40px, 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: .5s;
}
.skillbox:hover{
    background: #2196f3;
}
.skillbox img{
    max-width: 80px;
    filter: invert(1);
}
.skillbox h2{
    font-size: 20px;
    font-weight: 600;
}
.projects{
    background: #ecf4f3;
}
.projects .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.projectbox{
    width: 50%;
    padding: 20px;
}
.projects .contentbox .h3{
    font-size: 20px;
    font-weight: 600;
}
.industrial{
    background: #def4f0;   
}
.industrial .content{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;
    flex-direction: row; */
}
.industrialbox{
    min-width: 30%;
    padding: 60px 40px;
    margin:20px;
    background: #84a9ac;
}
.industrialbox p{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.industrialbox h3{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.contact{
    background: #111;
}
.formbox{
    min-width: 60%;
}
.formbox form{
    display: flex;
    flex-direction: column;
}
.formbox form h3, .contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formbox form input, .formbox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border:none;
    background: #222;
    color: #fff;
    resize: none;
}
.formbox form textarea{
    min-height: 200px;
}
.formbox form input::placeholder, .formbox form textarea::placeholder
{
    color:#999;
}
.formbox form input[type="submit"]{
    max-width: 100px;
    background-color: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo{
    min-width:40%; 
}
.contactInfoBox{
    position: relative;
}
.contactInfoBox .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBox .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBox .box .infotext{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight:300;
}
.contactInfoBox .box .infotext h3{
    font-weight: 500;
    color:#2196f3;
    margin-bottom: 0;
}
.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 50px;   
}
.about{
    background: #232020
}
.about img{
    /* opacity: 0.8; */
}
.about p{
    color: #fff;
}
.copyright i{
    display: inline-block;
    margin-right: 1em;  
}
.copyrightIcons{
    padding-top: 40px;
}
.copyright a{
    text-decoration: none;
    color: inherit;
}